* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:visited,
a:active{
    text-decoration: none;
    color: inherit;
}

button{
    border: none;
    outline: none;
    color: inherit;
    font-family: inherit;
}

body {
    background-color: var(--bg-color);
    font-family: 'Arima Madurai', sans-serif;
    font-size: 18px;
    color: var(--white);
    background-color: white;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

footer {
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    background-color: var(--black-light);
    color: var(--white);
}