@keyframes animateBubble {
    0% {
        top: 5%;
    }

    100% {
        top: -40%;
    }
}

@keyframes sideWays {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: 40px;
    }
}
