<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Potion Maker</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/_general.css" />
    <link rel="stylesheet" href="~/css/_ingpage.css" />
    <link rel="stylesheet" href="~/css/_colors.css" />
    <link rel="stylesheet" href="~/css/_components.css" />
    <link rel="stylesheet" href="~/css/_fonts.css" />
    <link rel="stylesheet" href="~/css/_keyframes.css" />
    <link rel="stylesheet" href="~/css/_potionpage.css" />
</head>
<body>
    <main>
            @RenderBody()
    </main>

    <footer>
        <div>
            &copy; Potion Maker - Best Wild Code School Team
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
