@{
    ViewData["Title"] = "Potion Maker";
    List<Ingredient> ingredients = ViewData["Ingredients"] as List<Ingredient>;
}

<div class="ingpage">
    <div class="ingnav">
        <h2>Ingredients</h2>
        <div class="ing-grid">
            @* map on ingredients *@
           
              @foreach (var ingredient in ingredients)
                {
                    <div class="ing-image tooltip" onclick="">
                        <span class="tooltiptext">@ingredient.DescriptionIngredient</span> <img src="@ingredient.ImageIngredient" alt="ingredient" /> 
                    </div>
                   
                }

            @*<div class="ing-image"></div>
            <div class="ing-image"></div>
            <div class="ing-image"></div>
            <div class="ing-image"></div>
            <div class="ing-image"></div>
            <div class="ing-image"></div>
            <div class="ing-image"></div>
            <div class="ing-image"></div>
            <div class="ing-image"></div>
            <div class="ing-image"></div>
            <div class="ing-image"></div>
            <div class="ing-image"></div>
            <div class="ing-image"></div>
            <div class="ing-image"></div>
            <div class="ing-image"></div>
            <div class="ing-image"></div>
            <div class="ing-image"></div>
            <div class="ing-image"></div>
            <div class="ing-image"></div>
            <div class="ing-image"></div>
            <div class="ing-image"></div>*@

        </div>
    </div>

    <div class="ingpage-center">

        <h1 class="">Ma Potion</h1>

        <div class="potion">
            <div class="potion-wrapper">
                <div class="potion-image">
                    <div class="chaudron">
                        <div class="chaudron-top">
                            <div class="chaudron-potion"></div>
                        </div>
                        <div class="chaudron-foot chaudron-foot1"></div>
                        <div class="chaudron-foot chaudron-foot2"></div>
                    </div>
                    <img class="potion-fire" src="~/assets/fire.gif" alt="Alternate Text" />
                </div>

                <div class="potion-buttons">
                    <button class="button secondary">
                        Jeter la potion &#x274C;
                    </button>
                    <button class="button">
                        Préparer la potion &#x1F525;
                    </button>
                </div>
            </div>
            

            <div class="potion-ing">
                <h3>Liste des ingrédients</h3>
                <ul>
                    <li>
                        <div class="ing-image"></div>
                        1 x feuille de menthe
                    </li>
                    <li>
                        <div class="ing-image"></div>
                        3 x feuille de laurier
                    </li>
                    <li>
                        <div class="ing-image"></div>
                        2 x feuille de bouleau
                    </li>
                    <li>
                        <div class="ing-image"></div>
                        1 x feuille de hetre
                    </li>
                    <li>
                        <div class="ing-image"></div>
                        3 x feuille de fraise
                    </li>
                    <li>
                        <div class="ing-image"></div>
                        2 x feuille de mandragor
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

